.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}
.theme-animation {
  transform: translateX(150px);
  animation: themeAnima 1s ease-in-out forwards;
}
@keyframes themeAnima {
  0% {
    transform: translateX(150px);
  }
  100% {
    transform: translateX(0px);
  }
}


.circle {
  position: fixed;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  will-change: transform;
  transition: transform 0.3s ease;
}

.circle-merge {
  transform: translate(-50%, -50%) scale(0.1); /* shrink into cursor */
}
.container{
  max-width: 1360px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}